/*Write your CSS below!*/
th {
    font-size:1em;
    font-family:Times, serif;
    color:yellow;
    background-color:red;
}

table,td {
	border:2px solid yellow;
	background-color:red;
}

img {
    height:150px;
    width:150px;
}